*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif ;
}

img {
    width: 400px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

body 
 {
    background:gray;
    display :flex;
    justify-content :center;
    align-items:center;
    min-height:100vh;
 }

 .container
 {
    position: relative;
    width:100%;
    max-width:500px;
    min-height:500px;
    background:gray;
    margin: 50px;
    display:grid;
    grid-template-columns: 1fr 0fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0,1);
 }
 .container .left_side
 {
position: relatives;
background: #003170;
padding:40px
 }
 .container .right_side
 {
    position: relative;
    background:gray;
    padding: 40px;
 }
 .profileText
 {
    position: relative;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 50px;
    border-bottom:1px solid rgba(255,255,255,0.2)
 }
/*.profileText .imgBx
 {
 position:relative;
 width:200px;
 border-radius:50%;
 overflow:hidden;
 }*/
 .profileText .imgBx img
 {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    object-fit: cover;
 }
.profileText h2
{
    color:gray;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight:600;
    line-height: 1.4em;
}

.profileText h2 span
{
    font-size: 0.8em;
    font-weight:300; 
}

.title
{
color:#fff;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 1px;
margin-bottom: 20px;
}
.contactInfo ul 
{
    position : relative
}
.contactInfo ul li
{
  position: relative; 
  list-style: none; 
  margin:10px 0;
  cursor : pointer
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font: size 18px;
    color :#03a9f4
}

.contactInfo .education li
{
margin-bottom: 15px;
}
.contactInfo.education h5
{
 color: #03a9f4;   
 font-weight: 500px;
}
.contactInfo.education h4
{
 color: #fff;   
 font-weight: 48px;
}
.contactInfo.language .percent
{
  position: relative; 
  width:100%;
  height: 6px;
  background :purple;
  display: blocks;
  margin-top: 6px;
}
.contactInfo.language .percent
{
 position:absolute;
 top:0;
 left:0;
 height:100%;
 background:#03a9f4
}
.container .right_side
{
  position: relative;  
  background:gray;
  margin-left: 90px;
}

.title2
{
    color:#003147;
    text-transform:uppercase;
    letter-spacing: 10px;
    margin-bottom: 10px;
  
}
.Profile h2
{
    position: absolute;
    top:0;
    right:0;
    width:100%;
    object-fit: cover;   
}

.about 
{
    margin-left: 90px;  
    padding-right: 70px; 
}