*  { padding:20px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif ;
}

/*Iimg {
    width: 400px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }*/

  
/*body 
 {
    position:fixed ;
    top:0; left:0;bottom:0;
    background:gray;
    display :flex;
    justify-content :space-between;
    align-items:center;
    min-height:100vh;
    padding: 8rem 2 rem;
    flex-flow: column;

 }*/

 /*.container
 {
    position: relative;
    width:100%;
    max-width:500px;
    min-height:500px;
    background:gray;
    margin: 50px;
    display:grid;
    grid-template-columns: 1fr 0fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0,1);
 }*/
 .container .left_side
 {
position: relatives;
background: #003170;
padding:40px
 }
 .container .right_side
 {
    position: relative;
    background:gray;
    padding: 40px;
 }
 .profileText
 {
    position: relative;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 50px;
    border-bottom:1px solid rgba(255,255,255,0.2)
 }
/*.profileText .imgBx
 {
 position:relative;
 width:200px;
 border-radius:50%;
 overflow:hidden;
 }
 .profileText .imgBx img
 {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    object-fit: cover;
 }*/
.profileText h2
{
    color:gray;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight:600;
    line-height: 1.4em;
}

.profileText h2 span
{
    font-size: 0.8em;
    font-weight:300; 
}

.title
{
color:#fff;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 1px;
margin-bottom: 20px;
}
.contactInfo ul 
{
    position : relative
}
.contactInfo ul li
{
  position: relative; 
  list-style: none; 
  margin:10px 0;
  cursor : pointer
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font: size 18px;
    color :#03a9f4
}

.contactInfo .education li
{
margin-bottom: 15px;
}
.contactInfo.education h5
{
 color: #03a9f4;   
 font-weight: 500px;
}
.contactInfo.education h4
{
 color: #fff;   
 font-weight: 48px;
}
.contactInfo.language .percent
{
  position: relative; 
  width:100%;
  height: 6px;
  background :purple;
  display: blocks;
  margin-top: 6px;
}
.contactInfo.language .percent
{
 position:absolute;
 top:0;
 left:0;
 height:100%;
 background:#03a9f4
}
.container .right_side
{
  position: relative;  
  background:gray;
  margin-left: 90px;
}

.title2
{
    color:#003147;
    text-transform:uppercase;
    letter-spacing: 10px;
    margin-bottom: 10px;
  
}
.Profile h2
{
    position: absolute;
    top:0;
    right:0;
    left: 150px;
    bottom: 70px;
    width:100%;
    object-fit: cover;  
   
  
}

.about 
{
    margin-left: 90px;  
    padding-right: 70px; 
    position:center;
    left: 150px;
    bottom: -70px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; 
    padding: 0px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 0px; 
    margin-bottom: 0px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 0px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker navy color */
  input[type=submit]:hover {
    background-color: navy;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0px;
  }

  .ContactMe
  {
    color:#003147;
    text-transform:uppercase;
    letter-spacing: 10px;
    margin-bottom: 10px;
  
  }

  responsive {
    width: 100%;
    height: auto;
  }
  body, html {
    height: 100%;
}


.img-container{
background-image:url("images/landa_shoulder.jpg");
height: 60%;
background-position : center;
background-repeat: no-repeat;
background-size:cover ;
position: relative;
}

/*code for mobile devices smaller than 600px*/
body { background-color: lightblue; }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   body { background-color:blueviolet; }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   body { background-color:navy; }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   body { background-color:Dark gray; }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   body { background-color: lightseagreen; }
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}



.English{width: 90%; background-color: #04AA6D;} /* Green */
.Isixhosa{width: 99%; background-color: #2196F3;} /* Blue */
.Sesotho {width: 70%; background-color: #f44336;} /* Red */


